--the-life-aquatic-with-steve-zissou-azure: #1DACE8;
--the-life-aquatic-with-steve-zissou-dark-slate-blue: #1C366B;
--the-life-aquatic-with-steve-zissou-tomato: #F24D29;
--the-life-aquatic-with-steve-zissou-beige: #E5C4A1;
--the-life-aquatic-with-steve-zissou-silver: #C4CFD0;
--the-royal-tenenbaums-leather: #9A872D;
--the-royal-tenenbaums-light-khaki: #F5CDB6;
--the-royal-tenenbaums-blush: #F7B0AA;
--the-royal-tenenbaums-pale-peach: #FDDDA4;
--the-royal-tenenbaums-greyish-teal: #76A08A;
--grand-budapest-hotel-faded-pink: #D8A49B;
--grand-budapest-hotel-light-periwinkle: #C7CEF6;
--grand-budapest-hotel-faded-blue: #7496D2;
--moonrise-kingdom-brick: #B62A3D;
--moonrise-kingdom-dull-yellow: #EDCB64;
--moonrise-kingdom-dust: #B5966D;
--moonrise-kingdom-light-blue-grey: #DAECED;
--moonrise-kingdom-greenish-beige: #CECD7B;
--fantastic-mr-fox-maize: #F8DF4F;
--fantastic-mr-fox-brownish: #A35E60;
--fantastic-mr-fox-mud-brown: #541F12;
--fantastic-mr-fox-dull-orange: #CC8B3C;
--fantastic-mr-fox-beige: #E8D2B9;
--the-darjeeling-limited-greyish: #AEA8A8;
--the-darjeeling-limited-brownish-orange: #CB9E23;
--the-darjeeling-limited-reddish-grey: #957A6D;
--the-darjeeling-limited-clay: #AC6E49;
--hotel-chevalier-gunmetal: #456355;
--hotel-chevalier-pale-gold: #FCD16B;
--hotel-chevalier-silver: #D3DDDC;
--hotel-chevalier-pinkish-grey: #C6B19D;
--rushmore-sand: #DBB165;
--rushmore-pinkish-tan: #DEB18B;
--rushmore-pine: #2E604A;
--rushmore-dark: #27223C;
--rushmore-faded-red: #D1362F;